# VS Code
.vscode

# idea
/build/
target/
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store


.checkstyle

/docker/snapshot/*.gz
.mvn/wrapper/*.jar


# C#   
*.sln.iml

build/
release/
scripts/
artifacts/
.dotnet
TestResults/
*.suo
*.user
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
AppPackages/
*.bak
packages
*.orig
*.DotSettings
*.ide/
.nuget
project.lock.json
.vs
